#div-externo {
    background-color: yellow;
    padding: 0;
    margin: 0;
  }
  
  #div-medio {
    background-color: blue;
    margin: 30px;
    padding: 20px;
    width: 400px;
    height: 200px;
  }
  
  #div-interno {
    background-color: green;
    width: 100%;
    height: 100%;
  }
  